!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>영수증 셰프 - 회원가입</title>
    <link rel="stylesheet" href="../static//css/signup.css">
</head>
<body>
    <div class="signup-view">
        <div class="chef-icon"></div>
        <form class="signup-form">
            <div class="input-group">
                <label for="name">이름</label>
                <input type="text" id="name" name="name" value="Jimmy Grammy">
            </div>
            <div class="input-group">
                <label for="email">이메일</label>
                <input type="email" id="email" name="email" value="jimmygrammy@gmail.com">
            </div>
            <div class="input-group">
                <label for="password">비밀번호</label>
                <input type="password" id="password" name="password" placeholder="Enter New Password">
                <span class="show-password">표시</span>
            </div>
            <div class="input-group">
                <label for="security-question">개인 질문</label>
                <input type="text" id="security-question" name="security-question" placeholder="질병 이름">
            </div>
            <div class="input-group">
                <label for="food-preference">무모호는 음식</label>
                <input type="text" id="food-preference" name="food-preference" value="김치">
            </div>
            <button type="submit" class="signup-btn">회원가입 하기</button>
        </form>
    </div>
</body>
</html>